.footer-style {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 40px 10px;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.ul-style {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ul-style li {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}





.navlink-style {
  text-decoration: none;
  color: #61c0bf; 
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}


.navlink-style:hover {
  color: #a4e4e1; 
}

.navlink-style:focus {
  outline: none;
  color: #2adcf4;
  text-shadow: 0 0 5px rgba(46, 178, 255, 0.5);
}


@media (max-width: 768px) {
  .footer-style {
    padding: 20px 5px;
  }

  .ul-style li {
    font-size: 14px;
  }
}
