.pagina-contenedor {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  box-sizing: border-box; 
}

.navbar {
  height: 60px;
  width: 100%;
  display: flex; 
  align-items: center;
  background: #61c0bf;
  margin-bottom: 15px;
}

.envoltura-contenido {
  display: flex;
  width: 100%; 
  justify-content: space-between; 
  align-items: center;
  margin: 0 15px;
}


.sector-derecho {
  display: flex; 
  gap: 10px; 
}

.nav_logo {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.nav_login, .nav_cart {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2a9df4; 
  color: white;
  transition: background-color 0.3s ease;
}

.nav_login:hover, .nav_cart:hover {
  background-color: #1f80d3; 
}


@media (max-width: 768px) {
  .navbar {
    justify-content: flex-start; 
  }

  .nav_login, .nav_cart {
    margin: 0 5px;
  }
}
