.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; /* Para que quede encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .modal-content {
    
    border-radius: 10px; /* Bordes redondeados opcionales */
    /* padding: 20px;  */
    max-width: 600px; /* Ancho máximo del modal */
    width: 90%; /* Ancho adaptativo para pantallas más pequeñas */
    box-shadow: 0 0 20px 8px black;

  }

  .modal-bg {
    background-color: rgb(213, 245, 235);
    border-radius: 10px;
  }